flow-mvp.json
[
    {
        "id": "de6cc7975fc846b2",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3d1003fa2c7c414b",
        "type": "telegram receiver",
        "z": "de6cc7975fc846b2",
        "name": "",
        "bot": "fddda13bcdc63a34",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 130,
        "y": 160,
        "wires": [
            [
                "fb947462d12d8ef7",
                "123b877ae5f46bc1"
            ],
            [
                "6c6cee9623a91b2d"
            ]
        ]
    },
    {
        "id": "260f8fcf2246d49f",
        "type": "telegram sender",
        "z": "de6cc7975fc846b2",
        "name": "",
        "bot": "fddda13bcdc63a34",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1610,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "64a61b6b1869acf7",
        "type": "function",
        "z": "de6cc7975fc846b2",
        "name": "ProcIN Audio",
        "func": "msg.params = {\n    'session_id' : msg.payload.chatId,\n    'tipo' : msg.payload.type\n}\n\nmsg.payload = msg.payload.weblink;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 60,
        "wires": [
            [
                "c0e9efd244bda789"
            ]
        ]
    },
    {
        "id": "fbfc20ac835ea692",
        "type": "function",
        "z": "de6cc7975fc846b2",
        "name": "ProcIN Texto",
        "func": "msg.params = {\n    'session_id' : msg.payload.chatId,\n    'tipo' : msg.payload.type\n}\nmsg.payload = msg.payload.content;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 180,
        "wires": [
            [
                "d9c6766bd5468020"
            ]
        ]
    },
    {
        "id": "f08dce8bd70b5363",
        "type": "function",
        "z": "de6cc7975fc846b2",
        "name": "ProcOUT WA",
        "func": "//Se tiver vindo uma imagem no generic [1]\n//msg.payload2 = msg.payload.output.generic[1].text;\n\n//O texto que vem normalemente no generic [0]\nmsg.payload = msg.payload.output.generic[0].text;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 140,
        "wires": [
            [
                "f6a4f7de2e433d94",
                "7185444d31519403"
            ]
        ]
    },
    {
        "id": "66efca7a1235510f",
        "type": "function",
        "z": "de6cc7975fc846b2",
        "name": "ProcOUT",
        "func": "msg.payload = {\n    'content' : msg.payload,\n    'chatId' : msg.params.session_id,\n    'type' : msg.params.tipo \n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1400,
        "y": 160,
        "wires": [
            [
                "0ada4f9515152fca",
                "260f8fcf2246d49f",
                "b179917f9add42b2",
                "8055d284cc05c8ac"
            ]
        ]
    },
    {
        "id": "fb947462d12d8ef7",
        "type": "switch",
        "z": "de6cc7975fc846b2",
        "name": "",
        "property": "payload.type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "voice",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "message",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 310,
        "y": 120,
        "wires": [
            [
                "64a61b6b1869acf7"
            ],
            [
                "fbfc20ac835ea692"
            ]
        ]
    },
    {
        "id": "f6a4f7de2e433d94",
        "type": "switch",
        "z": "de6cc7975fc846b2",
        "name": "",
        "property": "params.tipo",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "voice",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "message",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1190,
        "y": 140,
        "wires": [
            [
                "bfb197a7a7d59f36"
            ],
            [
                "66efca7a1235510f"
            ]
        ]
    },
    {
        "id": "6c6cee9623a91b2d",
        "type": "function",
        "z": "de6cc7975fc846b2",
        "name": "Acesso Negado",
        "func": "msg.payload.content = \"Acesso negado\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 380,
        "wires": [
            [
                "260f8fcf2246d49f"
            ]
        ]
    },
    {
        "id": "123b877ae5f46bc1",
        "type": "debug",
        "z": "de6cc7975fc846b2",
        "name": "Entrada",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 200,
        "y": 40,
        "wires": []
    },
    {
        "id": "0ada4f9515152fca",
        "type": "debug",
        "z": "de6cc7975fc846b2",
        "name": "Saida",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1570,
        "y": 140,
        "wires": []
    },
    {
        "id": "3805da0186eb56e3",
        "type": "debug",
        "z": "de6cc7975fc846b2",
        "name": "Transcrito",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 60,
        "wires": []
    },
    {
        "id": "7185444d31519403",
        "type": "debug",
        "z": "de6cc7975fc846b2",
        "name": "Mesangem Final",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 60,
        "wires": []
    },
    {
        "id": "adcccb71f02c81b9",
        "type": "debug",
        "z": "de6cc7975fc846b2",
        "name": "Saída WA",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 240,
        "wires": []
    },
    {
        "id": "25fa309f3974c34a",
        "type": "function",
        "z": "de6cc7975fc846b2",
        "name": "ProcOUT Img",
        "func": "msg.payload = {\n    'content' : msg.payload2,\n    'chatId' : msg.params.session_id,\n    'type' : 'photo' \n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1230,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "d9c6766bd5468020",
        "type": "watson-assistant-v2",
        "z": "de6cc7975fc846b2",
        "name": "WA G.Call",
        "service-endpoint": "https://api.us-south.assistant.watson.cloud.ibm.com/instances/f244f146-6f41-45a2-a5b7-f4733db4c05f",
        "assistant_id": "14be51cd-529f-4eeb-b582-c586c7a24657",
        "debug": false,
        "restart": false,
        "return_context": true,
        "alternate_intents": false,
        "multisession": true,
        "timeout": "",
        "optout-learning": false,
        "persist-session-id": false,
        "credentials": {},
        "x": 790,
        "y": 140,
        "wires": [
            [
                "f08dce8bd70b5363",
                "adcccb71f02c81b9"
            ]
        ]
    },
    {
        "id": "c0e9efd244bda789",
        "type": "watson-speech-to-text",
        "z": "de6cc7975fc846b2",
        "name": "STT",
        "alternatives": 1,
        "speakerlabels": false,
        "smartformatting": false,
        "lang": "pt-BR",
        "langhidden": "pt-BR",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "custom-weight": "0.5",
        "band": "BroadbandModel",
        "bandhidden": "",
        "keywords": "",
        "keywords-threshold": "0.5",
        "word-confidence": false,
        "password": "",
        "apikey": "H1ahVzaour0wI27X18FpMXhmuX5UBK1eXTg6G3VsWuYR",
        "payload-response": true,
        "streaming-mode": false,
        "streaming-mute": true,
        "auto-connect": false,
        "discard-listening": false,
        "disable-precheck": false,
        "service-endpoint": "https://api.us-south.speech-to-text.watson.cloud.ibm.com/instances/3c3f62df-b6be-4fbb-bd60-ffb5be65bae3",
        "x": 640,
        "y": 60,
        "wires": [
            [
                "d9c6766bd5468020",
                "3805da0186eb56e3"
            ]
        ]
    },
    {
        "id": "bfb197a7a7d59f36",
        "type": "watson-text-to-speech",
        "z": "de6cc7975fc846b2",
        "name": "TTS",
        "lang": "pt-BR",
        "langhidden": "pt-BR",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "voice": "pt-BR_IsabelaV3Voice",
        "voicehidden": "",
        "format": "audio/wav",
        "password": "",
        "apikey": "KLTXdhHqbob1J0hLSP2-7o3gPOiTLEJRE1tEQsZV4N01",
        "payload-response": true,
        "service-endpoint": "https://api.us-south.text-to-speech.watson.cloud.ibm.com/instances/e93bbe5d-cee6-40df-80e5-44d1ca35d576",
        "x": 1290,
        "y": 60,
        "wires": [
            [
                "66efca7a1235510f"
            ]
        ]
    },
    {
        "id": "9ae14b6fda645d1e",
        "type": "http request",
        "z": "de6cc7975fc846b2",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:8080/cliente",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1910,
        "y": 220,
        "wires": [
            [
                "de92ecfdad9a7f36"
            ]
        ]
    },
    {
        "id": "d31c53de647d3fe8",
        "type": "http request",
        "z": "de6cc7975fc846b2",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://demo.thingsboard.io/api/v1/Oknje2gw7q2zokGHqr5v/telemetry",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1450,
        "y": 540,
        "wires": [
            [
                "e51e669473447d77"
            ]
        ]
    },
    {
        "id": "aa4045e17310c8e0",
        "type": "inject",
        "z": "de6cc7975fc846b2",
        "name": "all sensors",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"humidity\":81,\"temperature\":32,\"active\":\"true\"}",
        "payloadType": "json",
        "x": 1240,
        "y": 440,
        "wires": [
            [
                "d31c53de647d3fe8"
            ]
        ]
    },
    {
        "id": "da7bf862907674ee",
        "type": "inject",
        "z": "de6cc7975fc846b2",
        "name": "humidity",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"humidity\":88}",
        "payloadType": "json",
        "x": 1240,
        "y": 620,
        "wires": [
            [
                "d31c53de647d3fe8"
            ]
        ]
    },
    {
        "id": "49acbb9d8ccfb1b6",
        "type": "function",
        "z": "de6cc7975fc846b2",
        "name": "",
        "func": "var data=context.get('data') || {};\nvar msg1={};\nmsg1.payload={};\nnode.log(\"msg1 \"+data.payload);\nif (!(\"humidity\" in data)){\n    \nvar humidity =75;\nvar temp =20;\nvar light=\"ON\";\n\nnode.log(\"starting\");\n}\n\nelse{\nvar humidity=data[\"humidity\"];\nvar temp=data[\"temperature\"];\nvar light=data[\"light\"];\nnode.log(\"here\");\n}\nnode.log(\"humidity= \"+humidity);\nhumidity=humidity +0.2;\ntemp=temp+0.5;\ndata={humidity:humidity,temperature:temp,light:light};\ncontext.set('data',data);\nmsg1.payload =data;\n\nreturn msg1;",
        "outputs": 1,
        "noerr": 3,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1410,
        "y": 700,
        "wires": [
            [
                "6e86f898288db394",
                "c7c04a02348527c4"
            ]
        ]
    },
    {
        "id": "6e86f898288db394",
        "type": "http request",
        "z": "de6cc7975fc846b2",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://demo.thingsboard.io/api/v1/Oknje2gw7q2zokGHqr5v/telemetry",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1570,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "c7c04a02348527c4",
        "type": "debug",
        "z": "de6cc7975fc846b2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1570,
        "y": 660,
        "wires": []
    },
    {
        "id": "4fed7a8383296b0f",
        "type": "inject",
        "z": "de6cc7975fc846b2",
        "name": "run",
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1250,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "e51e669473447d77",
        "type": "debug",
        "z": "de6cc7975fc846b2",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1550,
        "y": 440,
        "wires": []
    },
    {
        "id": "3b84b235250f628e",
        "type": "change",
        "z": "de6cc7975fc846b2",
        "name": "change payload",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "http://demo.thingsboard.io/api/v1/Oknje2gw7q2zokGHqr5v/telemetry",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "method",
                "pt": "msg",
                "to": "post",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1240,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "7ae302585411aca7",
        "type": "change",
        "z": "de6cc7975fc846b2",
        "name": "change payload",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "http://demo.thingsboard.io/api/v1/Oknje2gw7q2zokGHqr5v/telemetry",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "method",
                "pt": "msg",
                "to": "post",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "b179917f9add42b2",
        "type": "function",
        "z": "de6cc7975fc846b2",
        "name": "criar json",
        "func": "var data={\"cpf\":msg.payload.chatId};\nmsg.payload= JSON.stringify(data);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1600,
        "y": 220,
        "wires": [
            [
                "8b18a09bccbfb9cf"
            ]
        ]
    },
    {
        "id": "8b18a09bccbfb9cf",
        "type": "json",
        "z": "de6cc7975fc846b2",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1750,
        "y": 220,
        "wires": [
            [
                "9ae14b6fda645d1e"
            ]
        ]
    },
    {
        "id": "de92ecfdad9a7f36",
        "type": "debug",
        "z": "de6cc7975fc846b2",
        "name": "post cliente",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2090,
        "y": 220,
        "wires": []
    },
    {
        "id": "2b2ba8e2d63df740",
        "type": "http request",
        "z": "de6cc7975fc846b2",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:8080/chamado",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1930,
        "y": 300,
        "wires": [
            [
                "1f933e81f8f953c1"
            ]
        ]
    },
    {
        "id": "5ffb0c761360fc02",
        "type": "function",
        "z": "de6cc7975fc846b2",
        "name": "criar json",
        "func": "var data = {\n    \"statusId\": 1,\n    \"clienteId\": 1,\n    \"departamentName\": \"Internet\",\n    \"description\": \"Conexão Lenta\",\n    \"registerStatus\": true\n};\nmsg.payload= JSON.stringify(data);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1620,
        "y": 300,
        "wires": [
            [
                "e65de19a19a71fba"
            ]
        ]
    },
    {
        "id": "e65de19a19a71fba",
        "type": "json",
        "z": "de6cc7975fc846b2",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1770,
        "y": 300,
        "wires": [
            [
                "2b2ba8e2d63df740"
            ]
        ]
    },
    {
        "id": "1f933e81f8f953c1",
        "type": "debug",
        "z": "de6cc7975fc846b2",
        "name": "post chamado",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2120,
        "y": 300,
        "wires": []
    },
    {
        "id": "8055d284cc05c8ac",
        "type": "delay",
        "z": "de6cc7975fc846b2",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1520,
        "y": 260,
        "wires": [
            [
                "5ffb0c761360fc02"
            ]
        ]
    },
    {
        "id": "fddda13bcdc63a34",
        "type": "telegram bot",
        "botname": "GCall_bot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    }
]